.anavbar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width :200px;
    height: 350px;
    background-color: #204313;
}
.anavbar ul{
    display: flex;
    flex-direction: column;
}
.anavbar:hover{
      box-shadow: 5px 10px #888888
}
.anavbar a {
    text-decoration: none;
}
.admin-panel{
    display: flex;
    flex-direction: row;
    gap : 20px ;
}
.admin{
    box-shadow: 5px 10px 30px #888888
}
