.anavbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.anavbar:hover{
      box-shadow: 5px 10px #888888
}
.anavbar a {
    text-decoration: none;
}