.home{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.home h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-container{
  text-align: center;
}

.shop-btn{
  margin-top: 15px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}