.product{
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  max-width: 100%;
}
.product-container{
  width: 220px;
  padding: 16px;
}
.product-container:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); ;
}
.product h1{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-container{
  text-align: center;
}

.product-container{
  width: 100%;
  text-align: center;
}

.Productsitems{
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; /* optional: moves to next line on small screens */
}

.category{
  display: flex;
  justify-content: space-around;
  width: 80%;
  gap : 140px ;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  list-style:  none;

}

.category a {
  text-decoration: none;
  color: rgb(0, 0, 0)
}

.category a:hover{
  color: rgb(16, 103, 103);
  cursor: pointer;
}

.card {
  width: 200px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

